:root {
    --pointer:pointer;
    --transition:background-color 0.5s ease;
    --gray:#777;
    --grayLight:rgb(233, 233, 233);
    --micAndLupa: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
    font-size: 62.5%;
}

.header {
    display: flex;
    font-size: 1.1rem;
    justify-content: flex-end;
    align-items: center;
    height: 4.5rem;
}

.header__box{
    display: flex;
    align-items: center;
}

.header__img-container {
    display: flex;
    cursor: var(--pointer);
    width: 8.2rem;
}



.header__img-menu {
    width: 1.3rem;
    margin: 0 0.7rem;
    cursor: var(--pointer);
    transition: var(--transition);
}


.header__img-avatar {
    width: 2.6rem;
    margin: 0 1.4rem;
    border-radius: 50%;
}


.modifier-Hover {
    transition: var(--transition);
    border-radius: 50%;
}

.modifier-Hover:hover {
    background-color: var(--grayLight);
}



.modifier-HoverDos {
    transition: var(--transition);
    border-radius: 50%;
}

.modifier-HoverDos:hover{
    background-color: var(--grayLight);
}

.header__item {
    margin: 0 0.9rem;
    color: var(--gray);
    text-decoration: none;
    transition: color 0.5s ease;
}

.header__item:hover {
    text-decoration: underline;
    color: rgb(19, 19, 19);
}

/* Main */


.main__section {
    display: flex;
    justify-content: center;
    margin-top: 11rem;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search__lupa {
    width: var(--micAndLupa);
}

.search__mic {
    width: 1.4rem;
    cursor: pointer;
    transition: background-color, width 0.5s ease;
}

.search__mic:hover {
    background-color: var(--grayLight);
    border-radius: 50%;
    width: 1.6rem;
}

textarea:focus {
    outline: none;
}


.search__box {
    display: flex;
    justify-content: space-between;
    width: 47rem;
    border: 1px solid var(--grayLight);
    height: 3.5rem;
    border-radius: 3rem;
    align-items: center;
    padding: 1rem 1.5rem;
    transition: box-shadow 0.5s ease;
}

.search__box:hover {
    box-shadow: 0px 0px 6px 1px rgb(197, 197, 197);
}

.search__input {
    height: 2.9rem;
    width: 37rem;
    border: none;
}

.search__input:focus {
    outline: none;
}

.search__img {
    width: 1.4rem;
}

.main__img {
    width: 22rem;

}

.button__container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button__boton {
    margin: 0.6rem;
    background-color: #f3f3f3;
    outline: none;
    border: none;
    width: 12.5rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    color: #4a4a4a;
    cursor: pointer;
    transition: box-shadow, background-color 0.5s ease;
}

.button__boton:hover {
    background-color: #d3d3d3;
}

.language{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #4a4a4a;
}

.language__item {
    text-decoration: none;
    color: rgb(17, 101, 226);
    transition: color 0.5s ease;
}

.language__item:hover {
    color: rgb(28, 74, 143);
    text-decoration: underline;
}

/* Footer */

.footer {
    height: 6rem;
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer__country {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    height: 50%;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.footer__vz {
    color:rgba(63, 63, 63, 0.54);
}

.footer__info {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    display: inline-flex;
}

.footer__menu-option {
    display: inline-flex;
}

.footer__item {
    list-style: none;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    color: rgba(63, 63, 63, 0.54);
}




